:root {
    --gumorming-white: #fff;
    --gumorming-white-op: rgba(255, 255, 255, 0.2);
    --gumorming-black: #000;
    --gumorming-black-op: rgba(0, 0, 0, 0.2);
    --gumorming-none: #00000000;
    --gumorming-gray: #999999;
    --gumorming-gray-op: #9999992b;
    --gumorming-vip: #e5a80d;
    --gumorming-main: var(--gumorming-theme);
    --gumorming-main-op: var(--gumorming-theme-op);
    --gumorming-main-op-deep: var(--gumorming-theme-op-deep);
    --gumorming-main-none: var(--gumorming-theme-none);
    --gumorming-shadow-theme: 0 8px 12px -3px var(--gumorming-theme-op);
    --gumorming-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
    --gumorming-shadow-main: 0 8px 12px -3px var(--gumorming-main-op);
    --gumorming-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --gumorming-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --gumorming-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --gumorming-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --gumorming-shadow-red: 0 8px 12px -3px #ee7d7936;
    --gumorming-shadow-green: 0 8px 12px -3px #87ee7936;
    --gumorming-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --gumorming-snackbar-time: 5s;
    --gumorming-theme: #425AEF;
    --gumorming-theme-op: #4259ef23;
    --gumorming-theme-op-deep: #4259efdd;
    --gumorming-theme-none: #4259ef01;
    --gumorming-blue: #425AEF;
    --gumorming-red: #f04a63;
    --gumorming-pink: #FF7C7C;
    --gumorming-green: #57bd6a;
    --gumorming-yellow: #c28b00;
    --gumorming-yellow-op: #d99c001a;
    --gumorming-orange: #e38100;
    --gumorming-fontcolor: #363636;
    --gumorming-background: #f7f9fe;
    --gumorming-reverse: #000;
    --gumorming-maskbg: rgba(255, 255, 255, 0.6);
    --gumorming-maskbgdeep: rgba(255, 255, 255, 0.85);
    --gumorming-hovertext: var(--gumorming-main);
    --gumorming-ahoverbg: #F7F7FA;
    --gumorming-lighttext: var(--gumorming-main);
    --gumorming-secondtext: rgba(60, 60, 67, 0.8);
    --gumorming-scrollbar: rgba(60, 60, 67, 0.4);
    --gumorming-card-btn-bg: #edf0f7;
    --gumorming-post-blockquote-bg: #fafcff;
    --gumorming-post-tabs-bg: #f2f5f8;
    --gumorming-secondbg: #f1f3f8;
    --gumorming-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --gumorming-card-bg: linear-gradient(-45deg, #ec8c69, #e9546b, #38a1db, #23d5ab);
    --gumorming-card-bg-op: var(--gumorming-black-op);
    --gumorming-card-bg-none: rgba(255, 255, 255, 0);
    --gumorming-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --gumorming-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --gumorming-card-border: #e3e8f7;
    --gumorming-shadow-border: 0 8px 16px -4px #2c2d300c;
    --gumorming-tabs-background: #49B1F5;
    --style-border: 1px solid var(--gumorming-card-border);
    --style-border-always: 1px solid var(--gumorming-card-border);
    --style-border-hover: 1px solid var(--gumorming-main);
    --style-border-hover-always: 1px solid var(--gumorming-main);
    --style-border-dashed: 1px dashed var(--gumorming-theme-op);
    --style-border-forever: 2px solid var(--gumorming-main);

    --comment-color: #f1f2f3;
    --grey-0: #fff;
    --grey-1: #fdfdfd;
    --grey-2: #f7f7f7;
    --grey-3: #eff2f3;
    --grey-4: #ccc;
    --grey-5: #999;
    --grey-6: #666;
    --grey-7: #333;
    --grey-8: #222;
    --grey-9: #000;
    --grey-1-a0: rgba(253, 253, 253, 0);
    --grey-1-a7: rgba(253, 253, 253, 0.7);
    --grey-1-a5: rgba(253, 253, 253, 0.5);
    --grey-1-a3: rgba(253, 253, 253, 0.3);
    --grey-9-a1: rgba(0, 0, 0, 0.1);
    --grey-9-a5: rgba(0, 0, 0, 0.5);
    --grey-2-a0: rgba(247, 247, 247, 0);
    --color-pink-light: #ffe6fa;
    --color-cyan-light: #e3fdf5;
    --color-red: #e9546b;
    --color-pink: #ed6ea0;
    --color-orange: #ec8c69;
    --color-yellow: #eab700;
    --color-green: #0a7426;
    --color-aqua: #3e999f;
    --color-blue: #49b1f5;
    --color-purple: #9d5b8b;
    --color-grey: #869194;
    --color-red-a1: rgba(233, 84, 107, 0.1);
    --color-red-a3: rgba(233, 84, 107, 0.3);
    --color-pink-a3: rgba(237, 110, 160, 0.3);
    --color-pink-light-a3: rgba(255, 230, 250, 0.3);
    --color-pink-light-a5: rgba(255, 230, 250, 0.5);
    --color-pink-light-a7: rgba(255, 230, 250, 0.7);
    --body-bg-shadow: var(--grey-2);
    --box-bg-shadow: var(--grey-9-a1);
    --text-color: var(--grey-7);
    --header-text-color: var(--grey-0);
    --primary-color: var(--color-red);
    --nav-bg: linear-gradient(-225deg, var(--color-cyan-light) 0, var(--color-pink-light) 100%);
    --footer-bg: linear-gradient(-45deg, #ec8c69, #e9546b, #38a1db, #23d5ab);
    --note-border: #cda0c7;
    --note-bg: #fdf8ff;
    --note-text: #8a51c0;
    --note-hover: #f14668;
    --comment-btn: #ed9abb;
    --chat-bg: #f4f6fb;
}


[data-theme='dark'] {
    --gumorming-theme: #f2b94b;
    --gumorming-theme-op: #f2b94b23;
    --gumorming-theme-op-deep: #f2b94bdd;
    --gumorming-theme-none: #f2b94b00;
    --gumorming-blue: #0084FF;
    --gumorming-red: #FF3842;
    --gumorming-pink: #d44040;
    --gumorming-green: #3e9f50;
    --gumorming-yellow: #ffc93e;
    --gumorming-yellow-op: #ffc93e30;
    --gumorming-orange: #ff953e;
    --gumorming-fontcolor: #F7F7FA;
    --gumorming-background: #18171d;
    --gumorming-reverse: #fff;
    --gumorming-maskbg: rgba(0, 0, 0, 0.6);
    --gumorming-maskbgdeep: rgba(0, 0, 0, 0.85);
    --gumorming-hovertext: #0A84FF;
    --gumorming-ahoverbg: #fff;
    --gumorming-lighttext: var(--gumorming-theme);
    --gumorming-secondtext: #a1a2b8;
    --gumorming-scrollbar: rgba(200, 200, 223, 0.4);
    --gumorming-card-btn-bg: #30343f;
    --gumorming-post-blockquote-bg: #000;
    --gumorming-post-tabs-bg: #121212;
    --gumorming-secondbg: #30343f;
    --gumorming-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --gumorming-card-bg: #1d1e22;
    --gumorming-card-bg-op: var(--gumorming-white-op);
    --gumorming-card-bg-none: #1d1b2600;
    --gumorming-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --gumorming-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --gumorming-card-border: #3d3d3f;
    --gumorming-shadow-border: 0 8px 16px -4px #00000050;
    --gumorming-tabs-background: #81d8cf;
    --gumorming-footer-background: linear-gradient(90deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
    --style-border: 1px solid var(--gumorming-card-border);
    --style-border-always: 1px solid var(--gumorming-card-border);
    --style-border-hover: 1px solid var(--gumorming-theme);
    --style-border-hover-always: 1px solid var(--gumorming-theme);
    --style-border-dashed: 1px dashed var(--gumorming-theme-op);
    --style-border-forever: 2px solid var(--gumorming-lighttext);

    --comment-color: var(--grey-1);
    --grey-0: #222;
    --grey-1: #21252b;
    --grey-2: #363636;
    --grey-3: #444;
    --grey-4: #666;
    --grey-5: #aaa;
    --grey-6: #ccc;
    --grey-7: #ddd;
    --grey-8: #eee;
    --grey-9: #f7f7f7;
    --grey-1-a7: rgba(34, 34, 34, 0.7);
    --grey-1-a5: rgba(34, 34, 34, 0.5);
    --grey-1-a3: rgba(34, 34, 34, 0.3);
    --grey-1-a0: rgba(34, 34, 34, 0);
    --grey-9-a1: rgba(51, 51, 51, 0.1);
    --grey-2-a0: rgba(54, 54, 54, 0);
    --color-pink-light: #322d31;
    --color-cyan-light: #2d3230;
    --color-red: rgba(237, 118, 137, 0.9);
    --color-pink: rgba(241, 139, 179, 0.8);
    --color-orange: rgba(240, 163, 135, 0.8);
    --color-yellow: #ffe175;
    --color-green: #86c59d;
    --color-aqua: #97d3d6;
    --color-blue: #9cd0ed;
    --color-purple: #cfacc5;
    --color-grey: #c3c8ca;
    --body-bg-shadow: #000;
    --box-bg-shadow: #000;
    --text-color: var(--grey-5);
    --header-text-color: var(--grey-9);
    --note-bg: rgba(48, 49, 50, 0.8);
    --note-text: rgba(109, 164, 219, 0.8);
    --note-hover: rgba(168, 49, 72, 0.8);
    --chat-bg: var(--grey-1);

    img {
        filter: brightness(0.8);
    }
}